In [2]:
import pandas as pd
import numpy as np
import datetime

In [35]:
train = pd.read_csv("./Data/train/train.csv")
train["PurchaseMonth"] = (pd.to_datetime(train["OrderDate"],format = "%d/%m/%y")).dt.month
productAttrs= pd.read_csv("./Data/train/product_attributes.csv")
test = pd.read_csv("./Data/test.csv")

In [151]:
#list(set(train["productid"]) - set(productAttrs["productid"]))
train.shape

(132551, 5)

In [ ]:
12947666,5
 12995896,5
 13017336,6
 13072176,8
 13072610,8
 13653544,8
 13773574,
 14101712,
 14122346,
 14122348,
 14129477

In [145]:
productMatrix[productMatrix["productid"] == 11147300]

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,BinaryRep,TargetCode
57,11147300,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,101110111,8

In [140]:
#-----------There are more than 1 purchases
aggData = train[train["UserId"]!=26784].groupby(["UserId","productid"])["Quantity"].count().reset_index()
aggData.columns = ["UserId","productid","PurchaseCount"]
#aggData.sort_values(by = "PurchaseCount", ascending=False)

In [132]:
#(productAttrs.groupby(["productid","attribute_name"]).count().reset_index())
len(np.unique(productMatrix["productid"]))

3015

In [128]:
productMatrix = (productAttrs.groupby(["productid","attribute_name"]).count().reset_index())
productMatrix["attributevalue"] = (productMatrix["attributevalue"] >= 1).astype("int")

productMatrix = (productMatrix
                 .pivot(index = "productid",columns = "attribute_name").fillna(0)
                ).reset_index()

productMatrix["BinaryRep"] = productMatrix[productMatrix.columns[1:]].apply(
    lambda x: ''.join(x.astype(int).astype(str)),
    axis=1
)

productMatrix.columns = [col[1] if (len(col[1]) > 0) else col[0] for col in productMatrix.columns]

#-------Merge categories with less that 10 count products
targetCodesWithLessProducts = (productMatrix.groupby("BinaryRep")["productid"]
                               .count().sort_values( ascending = False).reset_index()
                              )
targetCodesWithLessProducts = targetCodesWithLessProducts[targetCodesWithLessProducts["productid"] < 10][["BinaryRep"]]

productMatrix = productMatrix.merge(targetCodesWithLessProducts, how="left", on= ["BinaryRep"],indicator=True)
productMatrix.loc[tmp["_merge"] == "both","BinaryRep"] = "000000000"
productMatrix["TargetCode"] = productMatrix["BinaryRep"].astype("category").cat.codes
productMatrix.drop("_merge", axis = 1, inplace = True)

productMatrix.head(10)
#productMatrix.columns[1:]

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,BinaryRep,TargetCode
0,11139192,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,101110010,6
1,11139194,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,101110010,6
2,11139524,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,101110111,8
3,11139560,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,101110111,8
4,11139588,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,101110010,6
5,11139650,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,101110111,8
6,11141306,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,101100010,5
7,11141308,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,101110010,6
8,11141318,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,101110010,6
9,11141320,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,101110010,6

In [146]:
productMatrix.groupby(["TargetCode"]).count()

,productid,Category,Collection,Color,Fabric,Fit,Material,Neckline,Season,Sleeve Length,BinaryRep
TargetCode,,,,,,,,,,,
0,64,64,64,64,64,64,64,64,64,64,64
1,19,19,19,19,19,19,19,19,19,19,19
2,11,11,11,11,11,11,11,11,11,11,11
3,19,19,19,19,19,19,19,19,19,19,19
4,221,221,221,221,221,221,221,221,221,221,221
5,359,359,359,359,359,359,359,359,359,359,359
6,163,163,163,163,163,163,163,163,163,163,163
7,11,11,11,11,11,11,11,11,11,11,11
8,1927,1927,1927,1927,1927,1927,1927,1927,1927,1927,1927
9,21,21,21,21,21,21,21,21,21,21,21
10,47,47,47,47,47,47,47,47,47,47,47
11,153,153,153,153,153,153,153,153,153,153,153

In [129]:
cols = list(productMatrix.columns[1:])
productMatrix[cols].groupby(cols).count()

Empty DataFrame
Columns: []
Index: [(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 000000000, 0), (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 000000000, 0), (0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 000000000, 0), (0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 000000000, 0), (0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 001100010, 1), (0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 000000000, 0), (0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 000000000, 0), (0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 000000000, 0), (0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 001110111, 2), (1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 000000000, 0), (1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 000000000, 0), (1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 000000000, 0), (1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 000000000, 0), (1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 000000000, 0), (1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 000000000, 0), (1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 000000000, 0), (1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 101000010, 3), (1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 000000000, 0), (1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 101001010, 4), (1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 101100010, 5), (1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 000000000, 0), (1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 101110010, 6), (1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 101110011, 7), (1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 000000000, 0), (1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 101110111, 8), (1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 111100010, 9), (1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 000000000, 0), (1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 111110010, 10), (1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 000000000, 0), (1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 111110111, 11)]

In [52]:
cols

['Category',
 'Collection',
 'Color',
 'Fabric',
 'Fit',
 'Material',
 'Neckline',
 'Season',
 'Sleeve Length',
 'BinaryRep',
 'TargetCode']

In [150]:
productMatrix1 = productMatrix[["productid","TargetCode"]]
productMatrix1 = pd.concat([productMatrix1
                           ,pd.DataFrame({"productid":list(set(train["productid"]) - set(productAttrs["productid"]))
                                          ,"TargetCode":[8]*11
                                         })
                           ],axis = 0)
                                         
productMatrix1.to_csv("./Data/train/ProductMatrix",index = False)

In [121]:
productMatrix.columns

MultiIndex(levels=[['attributevalue', 'BinaryRep'], ['Category', 'Collection', 'Color', 'Fabric', 'Fit', 'Material', 'Neckline', 'Season', 'Sleeve Length', '']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]],
           names=[None, 'attribute_name'])

In [78]:
productAttrs.pivot(index = "productid",columns="attribute_name")

ValueError: Index contains duplicate entries, cannot reshape

In [44]:
train[train["UserId"] ==26784].groupby("OrderDate").count()

           UserId  productid  Quantity
OrderDate
01/04/18      142        142       142
01/05/18      149        149       149
01/06/18      104        104       104
01/07/18      451        451       451
01/08/18      152        152       152
01/09/18      175        175       175
01/10/18      149        149       149
02/04/18      128        128       128
02/05/18      120        120       120
02/06/18      116        116       116
02/07/18      327        327       327
02/08/18      247        247       247
02/09/18      105        105       105
02/10/18      136        136       136
03/04/18      114        114       114
03/05/18       99         99        99
03/06/18      150        150       150
03/07/18      516        516       516
03/08/18      374        374       374
03/09/18      157        157       157
03/10/18      100        100       100
04/04/18      149        149       149
04/05/18       98         98        98
04/06/18       69         69        69
04/07/18      696        696       696
04/08/18      398        398       398
04/09/18      159        159       159
04/10/18      130        130       130
05/04/18       94         94        94
05/05/18      130        130       130
...           ...        ...       ...
27/05/18      105        105       105
27/06/18      273        273       273
27/07/18      245        245       245
27/08/18      135        135       135
27/09/18      131        131       131
27/10/18      152        152       152
28/04/18      143        143       143
28/05/18      109        109       109
28/06/18      322        322       322
28/07/18      296        296       296
28/08/18      106        106       106
28/09/18      110        110       110
28/10/18      168        168       168
29/04/18      178        178       178
29/05/18      131        131       131
29/06/18      272        272       272
29/07/18      337        337       337
29/08/18      113        113       113
29/09/18       99         99        99
29/10/18      151        151       151
30/04/18      174        174       174
30/05/18      102        102       102
30/06/18      426        426       426
30/07/18      154        154       154
30/08/18      100        100       100
30/09/18      135        135       135
30/10/18      120        120       120
31/05/18       90         90        90
31/07/18      213        213       213
31/08/18      137        137       137

[213 rows x 3 columns]

In [65]:
train.head()

   UserId  productid  Quantity OrderDate
0   18075   12322648         1  01/04/18
1    6820   12371370         1  01/04/18
2    6820   12973004         1  01/04/18
3    6820   12657560         1  01/04/18
4    6820   11659914         1  01/04/18

In [29]:
train

array(['Category', 'Collection', 'Color', 'Fabric', 'Fit', 'Material',
       'Neckline', 'Season', 'Sleeve Length'], dtype=object)